ConnectionStrings__DefaultConnection="Host=postgres;Port=5432;Database=cursinet;Username=psfaf;Password=post"
Jwt__Secret="CHANGE_ME_min_32_chars_long_secret_key!!"
Jwt__RefreshSecret="CHANGE_ME_refresh_secret_32_chars_long!!"
SendGrid__ApiKey=""
SendGrid__FromEmail="noreply@cursinet.com"
SendGrid__FromName="Cursinet"
SendGrid__BaseUrl="http://localhost:3000"
R1__Endpoint=https://ksjdflkasdjflñasjdkflñja.r2.cloudflarestorage.com
R2__AccessKeyId=flskjdfñlasjflña
R2__SecretAccessKey=6alsñjflñasjdflñasjfñlasj
R2__BucketName=cursinet
R2__PublicUrl=https://pub-asdfjlañsjfañlsj.r2.dev
