# PostgreSQL
ConnectionStrings__DefaultConnection=Host=localhost;Database=cursinet_db;Username=user;Password=pass
 
# JWT
Jwt__Secret=your-secret-key-min-32-chars-long
Jwt__RefreshSecret=your-secret-key-min-32-chars-long
 
# SendGrid (emails)
SendGrid__ApiKey=SG.xxxxx
SendGrid__FromEmail=noreply@cursinet.com
SendGrid__FromName=Cursinet
SendGrid__BaseUrl=https://cursinet.vercel.app
 
# PayPal
PayPal__Enabled=true
PayPal__IsSandbox=false
PayPal__BaseUrl=https://api-m.paypal.com
PayPal__ClientId=your-production-client-id
PayPal__ClientSecret=your-production-secret
PayPal__WebhookId=your-webhook-id

# Cloudflare R2 (imágenes de cursos)
R1__Endpoint=https://167hjsdfkjhasfljhasdf.r2.cloudflarestorage.com
R2__AccessKeyId=f84jkasdflñasjfdñlakjs
R2__SecretAccessKey=6e2asdlkfjasñldfkjañlsdfjkñlasdjfñj
R2__BucketName=cursinet
R2__PublicUrl=https://pub-76c5sajflaksjdfñlaskj.r2.dev
